<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	<link rel="stylesheet" href="css/style.css"> 
<style>
#image{
		background-image: url("<%= image %>"); 
		animation: hue-rotate <%= time %> linear infinite;
	}
</style>
	<div id="image"></div>
</html>
